body {
  margin: 0px;
  background-color: black;
  font-family: Helvetica Neue, Helvetica;
  color: white;
}
body a {
  color: orange;
  text-decoration: none; }
  body a:hover {
    color: yellow;
}

.content {
  position: absolute;
  background-color: green;
  width: 70%;
}
@media all and (min-width: 960px) {
  .content h1 {
    font-size: 130px;
  }
}
@media all and (max-width: 959px) and (min-width: 600px) {
  .content h1 {
    font-size: 80px;
  }
}
@media all and (max-width: 599px) and (min-width: 320px) {
  .content h1 {
    font-size: 40px;
  }
}
.content h1 {
  margin: 0%;
  font-weight: normal;
}

.image {

}
#container {
  position: absolute;
}
.subcontent {
  position: absolute;
  padding-left: 50px;
  margin-top: 170px;
}

.subcontent p {
    font-size: 17px;
    margin: 5px 0 10px 10px;
    padding: 0px;
}
